/* .button-main {
    background: #12aa04;
} */

.button-main .button-image{
    height: 20px;
    width: auto;
    transform: rotate(-90deg);
}
.button-main .go-full {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    background: #1b8511;
    color: #f0f8ff;
    border: none;
}

