.cotaniner {
    /* display: flex;
    align-items: center;
    flex-direction: row; */
    height: 100%;
}

.header {
    width: 100%;
    height: 12vh;
    background: #9e9ea0;
}

.username-title {
    display: flex;
    align-items: center;
    padding: 8px
}

.keyword-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    height: auto;
    width: 2rem;
}

.slider-container {
    width: 85%;
}

.radius-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.3rem;
}

.map-container {
    width: 100%;
    height: 88vh;
}