.home-cotaniner {
    /* display: flex;
    align-items: center;
    flex-direction: row; */
    height: 100%;
}

.home-cotaniner .header {
    width: 100%;
    height: 14vh;
    background: hsl(0, 0%, 18.82%);
}

.home-cotaniner .username-container {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 1em;
}

.home-cotaniner .keyword-container {
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 0 0.7em 0 0.7em;
}

.home-cotaniner .image {
    height: auto;
    width: 2rem;
}

.home-cotaniner .slider-container {
    width: 85%;
}

.home-cotaniner .radius-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5em 0 0.5em;
    margin-top: 10px;
}

.home-cotaniner .map-container {
    width: 100%;
    height: 88vh;
}

.home-cotaniner span {
    color: aliceblue;
}

.home-cotaniner .shortcut-main-container  {
    position: absolute;
    bottom: 1rem;
    right: 8px;
}

.home-cotaniner .shortcut-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-cotaniner .distance-text {
    margin-bottom: 3px
}