.result-main-container {
    /* display: flex;
    align-items: center;
    flex-direction: row; */
    height: 100%;
}

.result-main-container .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    background: hsl(0, 0%, 18.82%);
}

.result-main-container .back-icon {
    width: 2rem;
}

.result-main-container .result-container {
    padding: 1rem;
}

.result-main-container span {
    color: aliceblue;
}