@font-face {
  font-family: myFirstFont;
  src: url(./app/shared/assets/font/FC\ Subject\ Rounded\ Regular\ [Non-commercial\ use].ttf);
}

html, body, #app, #app>div, #root, .App{
  font-family: myFirstFont;
  height: 100vh;
}